
before_script:
  - docker info

stages:
  - init
  - lint
  - build
  - test

setup_deps:
  stage: init
  script:
    - make setup
  cache:
    paths:
      - ./cache/
build_containers:
  stage: init
  script:
    - make docker_setup

lint_python:
  stage: lint
  script:
    - docker-compose run ai make lint
    - docker-compose run ai chown -R $UID ./*

compile_python:
  stage: build
  script:
    - docker-compose run ai make py_compile
    - docker-compose run ai chown -R $UID ./*

smoke:
  stage: test
  script:
    - docker-compose up -d starcraft
    - docker-compose run ai
    - docker-compose down starcraft
    - docker-compose run ai chown -R $UID ./*
